<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Recurring Events App</title>
 
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">
    
  </head>
 
  <body>
 
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="main">Home</a></li>
            <li role="presentation"><a href="add">Add</a></li>
          </ul>
        </nav>
      </div>
 
      <div class="jumbotron">
        <h1>Recurring Events</h1>
        <form class="form-signin">
        <label for="inputName" class="sr-only">Name</label>
        <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus>
        <label for="inputDate" class="sr-only">Start date</label>
        <input type="date" name="inputDate" id="inputDate" class="form-control" placeholder="Start date" required autofocus>
        <label for="inputday" class="sr-only">Day of the month</label>
        <input type="number" name="inputday" id="inputday" class="form-control" placeholder="Day of the month" required>
         
        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Sign up</button>
      </form>
      </div>
 
       
 
      <footer class="footer">
        <p>&copy;Sharath</p>
      </footer>
 
    </div>
  </body>
</html>